$posterWidth: 182px;
$posterHeight: 268px;
$infoWidth: 230px;

.latest-details {
    display: flex;
    border-radius: 2px;
    .poster {
        position: relative;
        img {
            width: $posterWidth;
            height: $posterHeight;
            border-radius: 3px;
        }
        .dummy-poster {
            width: $posterWidth;
            height: $posterHeight;
            background-size: contain;
            border-radius: 3px;
        }
        .poster-movies {
            background: url("../images/posters/Movies.png") no-repeat;
        }
        .poster-tv {
            background: url("../images/posters/TV.png") no-repeat;
        }
        .poster-documentaries {
            background: url("../images/posters/Documentaries.png") no-repeat;
        }
        .poster-animations {
            background: url("../images/posters/Animations.png") no-repeat;
        }
    }
    .info {
        position: relative;
        min-width: $infoWidth;
        max-width: $infoWidth;
        height: 268px;
        color: #f2f2f2;
        margin: 0 0 0 10px;
        .title {
            display: block;
            max-height: 70px;
            padding-bottom: 5px;
            overflow: hidden;
            font-size: 22px;
        }
        .orig-title {
            display: block;
            max-height: 35px;
            padding-bottom: 5px;
            overflow: hidden;
            font-style: italic;
            margin-top: 10px;
        }
        .misc {
            display: block;
            max-height: 95px;
            overflow: hidden;
            color: #888;
            line-height: 1.4;
            font-size: 14px;
            margin-top: 10px;
        }
        .actions {
            position: absolute;
            bottom: 0;
            height: 30px;
            display: flex;
            ul {
                position: absolute;
                right: -130px;
                width: 165px;
                padding: 5px;
                background: #101010;
                border: 1px solid #333;
                box-shadow: 3px 3px 5px #000;
                box-sizing: border-box;
                border-radius: 3px;
                li {
                    display: flex;
                    padding: 4px;
                    font-size: 14px;
                    line-height: 16px;
                    border-radius: 3px;
                    cursor: pointer;
                    &:hover {
                        background: #00a651;
                    }
                    span {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            div, a {
                width: 30px;
                border-radius: 3px;
                margin-right: 5px;
                cursor: pointer;
            }
            .watch-later {
                background: rgba(#717171, .6) url("../images/details/ic_watch_later_white_24px.svg") 50% no-repeat;
            }
            .recomm {
                background: rgba(#717171, .6) url("../images/details/ic_thumb_up_white_24px.svg") 50% no-repeat;
            }
            .edit {
                background: rgba(#717171, .6) url("../images/details/ic_edit_white_24px.svg") 50% no-repeat;
            }
            a {
                background: rgba(#717171, .6) url("../images/details/baseline_closed_caption_white_24dp.png") 50% no-repeat;
            }
        }
    }
    .plot {
        width: calc(100% - #{posterWidth} - #{$infoWidth});
        height: 268px;
        margin: 0 0 0 10px;
        .plot-txt {
            height: calc(100% - 50px);
            padding-right: 5px;
            color: #f2f2f2;
            line-height: 1.5;
            overflow-y: auto;
        }
        .sites {
            display: flex;
            height: 30px;
            margin-top : 20px;
            a {
                display: block;
                height: 30px;
                margin-right: 5px;
            }
            .imdb {
                width: 69px;
                background: url('../images/details/imdb.svg') no-repeat;
                background-size: contain;
            }
            .douban {
                width: 102px;
                background: url('../images/details/douban.png') no-repeat;
                background-size: contain;
            }
            .mtime {
                width: 100px;
                border-radius: 3px;
                background: url('../images/details/mtime.png') no-repeat;
                background-size: contain;
            }
        }
    }
}

.latest-trailer {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 192px;
    iframe {
        margin-right: 16px;
    }
}

.no-vid-latest {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 268px - 22px);
    color: #444;
    border: 1px solid #222;
    margin: 20px 0 0 192px;
}